<% include _header %>

<h1>Edit your profile</h1>

<form action="/edit" method="post">
  <input name="displayname" type="text" class="form-control" placeholder="Display name" value="<%= currentUser.displayName || "" %>">
  <textarea name="bio" class="form-control" placeholder="Tell us about yourself!"><%= currentUser.bio || "" %></textarea>
  <input type="submit" value="Update" class="btn btn-primary btn-block">
</form>


<div class="row">
    <div class="col-xs-12 col-md-8">
        <div class="row">
            <% for(var i=0; i<projects.length; i++){%>
                <div class="card col-xs-4">
                    <h4 class="card-title"> <%= projects[i].title %></h4>
                    <a href="<%= projects[i].URL %>" class="btn btn-primary card-link">Visit Website</a>
                </div>
            <% } %>
        </div>
    </div>
<form action="/newProject" method="get">
  <div class="card col-xs-4" style="background: #d3d3d3">
      <input type="submit" value="+ upload more work +" class="btn btn-primary card-link" >
  </div>
</form>
</div>
</div>




<% include _footer %>
