<% include _header %>

<div class="col-lg-12">
<h1 class="page-header">The LALA land!</h1>
</div>

  <div class="row">
      <div class="col-xs-12 col-md-8">
          <div class="row">
              <% for(var i=0; i<projects.length; i++){%>
                  <div class="card col-xs-4">
                      <h4 class="card-title"> <%= projects[i].title %></h4>
                      <a href="<%= projects[i].URL %>" class="btn btn-primary card-link">Visit Website</a>
                  </div>
              <% } %>
          </div>
      </div>


<% include _footer %>
