<% include _header %>
<div class="col-xs-12 col-md-4">
           <div class="form-container">
               <h3 style="margin-bottom:40px;">Add New Project</h3>
               <form class="form" method="POST" action="/newProject ">
                   <div class="form-group">
                       <label for="InputTitle">Title</label>
                       <input name = "title" type="text" class="form-control" id="InputTitle" placeholder="Title">
                   </div>
                   <div class="form-group">
                       <label for="InputDescription">Description</label>
                       <input name = "Description" type="text" class="form-control" id="InputDescription" placeholder="Description..." style="width: 500px; height: 200px;">
                   </div>
                   <div class="form-group">
                       <label for="InputLink">Link</label>
                       <input name = "URL" type="url" class="form-control" id="InputLink" placeholder="Link">
                   </div>

                   <button type="submit" class="btn btn-default">Submit</button>
               </form>
           </div>
       </div>
   </div>
<% include _footer %>
